<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Producto</title>
</head>
<body>

<h2>Información del Producto</h2>

<ul>
    <li><strong>Nombre:</strong> <span th:text="${item.nombre}"></span></li>
    <li><strong>Categoría:</strong> <span th:text="${item.categoria}"></span></li>
    <li><strong>Cantidad en stock:</strong> <span th:text="${item.cantidad}"></span></li>
    <li><strong>Precio:</strong> $<span th:text="${item.precio}"></span></li>
</ul>

</body>
</html>